<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bidostar.module1">

    <application>
        <activity android:name=".Module1Activity">
        </activity>
        <activity android:name=".TestStartActivity">
            <intent-filter>
                <action android:name="/module/TestStartActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".FragmentBackActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
    </application>

</manifest>